<a href="https://colab.research.google.com/github/JONNY-ME/Landslide-Prevention-and-Innovation-challenge/blob/main/Ensembling_Landslide_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ensemble

In [1]:
import pandas as pd
import numpy as np

## Summed Ensemble

In [2]:
submissions = [
    "submission1",
    "submission2",
]
csvs = {
    i : pd.read_csv(f"{i}.csv").sort_values("Sample_ID").reset_index(drop=True)
    for i in submissions
}
sub = csvs[submissions[0]][['Sample_ID']]
for s in submissions:
  sub[s] = csvs[s].Label 

sub

      Sample_ID  submission1  submission2
0         10865            0            0
1         10866            0            0
2         10867            0            0
3         10868            1            1
4         10869            1            1
...         ...          ...          ...
5425      16290            0            0
5426      16291            1            1
5427      16292            0            0
5428      16293            0            0
5429      16294            1            1

[5430 rows x 3 columns]

In [3]:
sub['Label'] = (sub.eval(
      " + ".join(submissions)
  ) >= 1)*1

sub = sub[['Sample_ID', 'Label']]
print(sub.Label.value_counts())
sub

0    3366
1    2064
Name: Label, dtype: int64

      Sample_ID  Label
0         10865      0
1         10866      0
2         10867      0
3         10868      1
4         10869      1
...         ...    ...
5425      16290      0
5426      16291      1
5427      16292      0
5428      16293      0
5429      16294      1

[5430 rows x 2 columns]

In [4]:
sub.to_csv("ensemble.csv", index=False)